@font-face {
  font-family: 'nadid-material-icons';
  src:  url('fonts/nadid-material-icons.eot?ep35yi');
  src:  url('fonts/nadid-material-icons.eot?ep35yi#iefix') format('embedded-opentype'),
    url('fonts/nadid-material-icons.ttf?ep35yi') format('truetype'),
    url('fonts/nadid-material-icons.woff?ep35yi') format('woff'),
    url('fonts/nadid-material-icons.svg?ep35yi#nadid-material-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nmi-"], [class*=" nmi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nadid-material-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nmi-arrow-down:before {
  content: "\e900";
}
.nmi-arrow-down-left:before {
  content: "\e901";
}
.nmi-arrow-down-right:before {
  content: "\e902";
}
.nmi-arrow-left:before {
  content: "\e903";
}
.nmi-arrow-right:before {
  content: "\e904";
}
.nmi-arrow-up:before {
  content: "\e905";
}
.nmi-arrow-up-left:before {
  content: "\e906";
}
.nmi-arrow-up-right:before {
  content: "\e907";
}
.nmi-close:before {
  content: "\e908";
}
.nmi-menu:before {
  content: "\e909";
}
.nmi-mouse:before {
  content: "\e90a";
}
